.section-layout {
  .trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: $--color-primary;
  }
}

.global-content {
  margin: 24px 16px;
  padding: 24px;
  color: red;
  color: #ddd;
  transform: scale(0.5);
  display: grid;
  flex: auto;
  background: $--color-white;
  min-height: 280px;
}
